.spinner {
	position: absolute;
	background-color: rgba(56, 56, 56, 0.336);
	height: 100vh;
	width: 100%;
	top:0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.spinner-content {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.spinner-content:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: dual-ring 1.2s linear infinite;
  }
  @keyframes dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }